{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="text-center mb-5">О нас</h1>
        <p class="lead text-center"> В нашем обувном магазине мы предлагаем качественную обувь по доступным ценам.
            Мы считаем, что каждый должен иметь доступ к стильной и удобной обуви, и стремимся сделать это реальностью для наших клиентов.</p>
        <p class="text-center">Наша команда опытных дизайнеров обуви и мастеров неустанно работает над созданием модной и функциональной обуви.
            Мы используем только лучшие материалы и новейшие технологии, чтобы наша обувь соответствовала самым высоким стандартам качества.</p>
        <p class="text-center">Если вы ищете пару стильных кроссовок для повседневного ношения или пару элегантных туфель для особого случая,
            у нас вы найдете все необходимое. Просмотрите нашу коллекцию сегодня и найдите идеальную пару обуви для себя!</p>
      </div>
    </div>
  </div>
{% endblock %}