{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 mb-5" style="background-color: lavender;">
  <div class="row mt-5 pt-5 pb-5 mb-5">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center mb-5 mt-5 mb-5" style="font-family: 'Arial Black', sans-serif;">О нас</h1>
      <p class="lead text-center" style="color: darkblue;">Мы - площадка SECOND HAND. «Свободный стиль» создана специально для наших клиентов,
         кто предпочитает качественную одежду по доступным ценам.
        У нас вы найдете самые разнообразные качественные товары в единственном экземпляре.
         Также вы можете опубликовать свои вещи. Начинайте с организованных оптовых магазинах секонд-хенда и 
         следите за акциями.</p>
      <p class="text-center mb-5" style="color: darkblue;">Если вы ищете стильную одежду для повседневной носки или особого случая,
         у нас вы найдете все необходимое.
        Просмотрите нашу коллекцию сегодня и найдите идеальную одежду для себя!</p>
    </div>
  </div>
</div>
{% endblock %}
