{% extends 'base.html' %}

{% block content %}
    <div class="mt-5 pt-5">
    <h1>Моя корзина</h1>
    <table class="table">
      {% if cart.shoes.all %}
    <ul>
      {% for item in cart.shoes.all %}
        <li>{{ item.name }} - ${{ item.price }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Your cart is empty.</p>
  {% endif %}
        <thead>
            <tr>
                <th>Выбранные обуви</th>
                <th>Цены</th>
            </tr>
        </thead>
        <tbody>
            {% for shoe in cart.shoes.all %}
                <tr>
                    <td>{{ shoe.title }}</td>
                    <td>{{ shoe.price }}
                        <form action="{% url 'remove_from_cart' shoe.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Remove from Cart</button>
                      </form>
                    </td>

                </tr>
            {% endfor %}
{#            <tr>#}
{#                <td><strong>Total</strong></td>#}
{#                <td><strong>{{ cart.total }}</strong></td>#}
{#            </tr>#}
{#            <a href="">Купить</a>#}
        </tbody>
    </table>
                <button style="margin-left:30px; border-bottom-color: #1c606a; width: 130px; height: 50px; font-size: 25px"><a style="" href="{{ 'buy' }}">Купить</a></button>
</div>
{% endblock %}